<style lang="css">



</style>

<template lang="html">

<v-flex class="mb-3">
    <v-layout row justify-end>
        <v-tooltip bottom>
            <v-btn dark icon color="indigo" v-on:click="$emit('delete-table')" slot="activator">
                <v-icon>delete</v-icon>
            </v-btn>
            <span>
            Delete this table
          </span>
        </v-tooltip>
        <v-tooltip bottom>
            <v-btn dark icon color="indigo" v-on:click="toggleEditable" slot="activator">
                <v-icon>edit</v-icon>
            </v-btn>
            <span>Toggle edit mode</span>
        </v-tooltip>
    </v-layout>
    <v-card>
        <v-card-title class="yellow dark-4">
            <v-flex text-xs-center>
                <route-info justify-center @title-saved="updateDropdown" />
            </v-flex>
        </v-card-title>
        <HotTable :settings="settings" :columns="cols" :readOnly="readOnly" :data="data" :beforeChange="changehook" ref="table"></HotTable>
    </v-card>
</v-flex>

</template>

<script>

import HotTable from '@handsontable/vue';
import RouteInfo from './RouteInfo.vue'
import {
    store
}
from '../store/index.js'
import {
    tbsettings
}
from '../seed.js'

export default {
    props: ['data', 'title'],
    data: function() {
        return {
            private: {
                storeState: JSON.parse(JSON.stringify(store.state))
            },
            readOnly: true,
            settings: JSON.parse(JSON.stringify(tbsettings)),
        }
    },
    methods: {
        changehook: function(changes, src) {
            if (src === 'Autofill.fill' && changes[0][1] === 1) {
                return false;
            }
        },
        toggleEditable: function() {
            this.readOnly = !this.readOnly;
        },
        updateDropdown: function(val, title) {
            this.private.storeState.aColumn.source = [...this.private.storeState.dropdown, ...[...Array(val).keys()].slice(1, )];
            this.readOnly = false;
            this.$emit('title-saved', title, 1);
        }
    },
    components: {
        HotTable,
        'route-info': RouteInfo
    },
    computed: {
        cols() {
            return [...[{
                readOnly: true,
                fillHandle: false
            }], ...new Array(24).fill(this.private.storeState.aColumn)];
        }
    }
}

</script>
