<style lang="css">



</style>

<template lang="html">

<v-list>
    <v-list-group :value=true>
        <v-list-tile slot="activator">
            <v-list-tile-content>
                <v-list-tile>Legend</v-list-tile>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
            <v-list-tile-content>
                <v-layout row align-center justify-center>
                    <v-card color="#FFC7CE" width="75" tile flat>
                        <v-card-title style="color:#000000">****</v-card-title>
                    </v-card>
                    <v-card width="150" tile flat>
                        <v-card-title>Not allowed</v-card-title>
                    </v-card>
                </v-layout>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="availableLanes > 5">
            <v-list-tile-content>
                <v-layout row>
                    <v-card color="#00FFFF" width="75" tile flat>
                        <v-card-title style="color:#000000">5</v-card-title>
                    </v-card>
                    <v-card width="150" tile flat>
                        <v-card-title>5 lanes closed</v-card-title>
                    </v-card>
                </v-layout>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="availableLanes > 4">
            <v-list-tile-content>
                <v-layout row>
                    <v-card color="#FF8C00" width="75" tile flat>
                        <v-card-title style="color:#000000">4</v-card-title>
                    </v-card>
                    <v-card width="150" tile flat>
                        <v-card-title>4 lanes closed</v-card-title>
                    </v-card>
                </v-layout>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="availableLanes > 3">
            <v-list-tile-content>
                <v-layout row>
                    <v-card color="#7BB0FF" width="75" tile flat>
                        <v-card-title style="color:#000000">3</v-card-title>
                    </v-card>
                    <v-card width="150" tile flat>
                        <v-card-title>3 lanes closed</v-card-title>
                    </v-card>
                </v-layout>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="availableLanes > 2">
            <v-list-tile-content>
                <v-layout row>
                    <v-card color="#C6EFCE" width="75" tile flat>
                        <v-card-title style="color:#000000">2</v-card-title>
                    </v-card>
                    <v-card width="150" tile flat>
                        <v-card-title>2 lanes closed</v-card-title>
                    </v-card>
                </v-layout>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="availableLanes > 1">
            <v-list-tile-content>
                <v-layout row>
                    <v-card color="#FFEB9C" width="75" tile flat>
                        <v-card-title style="color:#000000">1</v-card-title>
                    </v-card>
                    <v-card width="150" tile flat>
                        <v-card-title>1 lane closed</v-card-title>
                    </v-card>
                </v-layout>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
            <v-list-tile-content>
                <v-layout row>
                    <v-card color="#FFFF00" width="75" tile flat>
                        <v-card-title style="color:#000000">FC</v-card-title>
                    </v-card>
                    <v-card width="150" tile flat>
                        <v-card-title>Full closure</v-card-title>
                    </v-card>
                </v-layout>
            </v-list-tile-content>
        </v-list-tile>
    </v-list-group>
</v-list>

</template>

<script>

export default {
    name: 'Lengend',
    props: ['availableLanes']
}

</script>
