<style lang="css">



</style>

<template>

<div>
    <v-dialog ref="dialog" v-model="dialog" persistent lazy max-width="500px">
        <v-text-field slot="activator" placeholder="Enter route information" :readonly=true value="Enter Route Information" @click:append="editEmail" :append-outer-icon="'edit'" ref="text">
        </v-text-field>
        <v-card>
            <v-card-title>
                <span class="headline">Route Information</span>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap column>
                        <v-flex xs12 sm6>
                            <v-select :items="['IH 39', 'IH 90', 'IH 94']" label="Road Name" required></v-select>
                        </v-flex>
                        <v-flex xs12 sm6>
                            <v-autocomplete :items="['Skiing', 'Ice hockey', 'Soccer', 'Basketball', 'Hockey', 'Reading', 'Writing', 'Coding', 'Basejump']" label="Interests" multiple chips></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm6>

                        </v-flex>
                    </v-layout>
                </v-container>
                <small>*indicates required field</small>
            </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
                <v-btn color="blue darken-1" flat @click.native="dialog = false">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>

</template>

<script>

export default {
  name:'RouteInfo',
  data: ()=>{
    return {
      dialog: false
    }
  },
  methods:{
    editEmail() {
      console.log('EDIT EMAIL')
      this.showIcon = false
  }
}
}

</script>
