

<template>

<div>
    <p @click="dialog=true" class="font-weight-bold display-2"><b>{{ t }}</b></p>
    <v-dialog ref="dialog" v-model="dialog" persistent lazy max-width="500px">
        <v-stepper v-model="e1" vertical>
            <v-stepper-step :complete="e1 > 1" step="1" editable>Select roadway,direction and available lanes</v-stepper-step>
            <v-stepper-content step="1">
                <v-container wrapped grid-list-md>
                    <v-layout row fill-height wrap>
                        <v-flex>
                            <v-select v-model="rdway" :items="['IH 39', 'IH 90', 'IH 94']" label="Road Name" required></v-select>
                        </v-flex>
                        <v-flex>
                            <v-select v-model="dir" :items="['NB','SB','WB','EB']" label="Direction" required></v-select>
                        </v-flex>
                        <v-flex>
                            <v-slider v-model="lanes" label="Total number of lanes?" step="1" min="1" max='6' thumb-label="always" ticks></v-slider>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-btn color="primary" @click="e1 = 2">
                    Continue
                </v-btn>
                <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
            </v-stepper-content>
            <v-stepper-step :complete="e1 > 2" step="2" editable>Selct date range</v-stepper-step>
            <v-stepper-content step="2">
                <v-date-picker class="mt3" v-model="picker" landscape width="230" type="month" multiple></v-date-picker>
                <v-btn color="primary" @click.native="save">
                    Save
                </v-btn>
                <v-btn color="blue darken-1" flat @click.native="save">Close</v-btn>
            </v-stepper-content>
        </v-stepper>
    </v-dialog>
</div>

</template>

<script>

import {
    store
}
from '../store/index.js'

import {
    mapActions
}
from 'vuex'

export default {
    data: function() {
        return {
            private: {
                storeState: JSON.parse(JSON.stringify(store.state))
            },
            e1: 0,
            dialog: false,
            picker: [],
            rdway: '',
            dir: '',
            t: 'Click to edit title',
            lanes: 1,
            storeState: store.state,
        }
    },
    methods: {
        ...mapActions([
                'editAvailableLanes'
            ]),

            save: function() {
                let beg, end, year;
                this.dialog = false;
                this.e1 = 1;
                if (this.picker.length !== 0) {
                    year = ' ' + new Date(this.picker[0]).getUTCFullYear();
                    beg = '-' + new Date(this.picker[0]).toLocaleString('en-us', {
                        timeZone: "UTC",
                        month: "short"
                    });
                    end = '-' + new Date(this.picker[this.picker.length - 1]).toLocaleString('en-us', {
                        timeZone: "UTC",
                        month: "short"
                    });
                    if (beg === end) end = '';
                }
                this.editAvailableLanes(this.lanes);
                this.t = this.rdway + '-' + this.dir + beg + end + year + '-' + this.lanes + ' lanes';
                let tObj = {
                  rdway: this.rdway,
                  dir: this.dir,
                  beg: beg.replace('-',''),
                  end: end.replace('-',''),
                  year: year,
                  lanes: this.lanes
                }
                this.$emit('title-saved', this.lanes, tObj);
            },
    },
}

</script>
