<style src="../node_modules/handsontable/dist/handsontable.full.css" />
<style lang="scss">body,
html {
  height: 100%;
}
</style> <style lang="scss" scoped> #addbutton {
    position: fixed;
    bottom: 0;
    right: 0;
}

.v-btn--floating {
    position: relative;
}

</style>

<template lang="html">

<v-app>
    <v-content>
        <v-container justify-center>
            <v-layout column>
                <closure-table :data="closure.data" v-for="(closure, index) in closures" :key="index" :id="'t'+index" @hook:mounted="autoscroll"  @delete-table="deleteTable(index)" @title-saved="saveTitle(index, ...arguments)"></closure-table>
                <v-layout row>
                    <v-flex sm3>
                        <Legend :availableLanes="storeState.availableLanes"></Legend>
                    </v-flex>
                    <v-flex v-if="closures.length === 0">
                        <v-btn dark color="indigo" small @click="addTable">Add new table</v-btn>
                    </v-flex>
                    <v-flex>
                        <v-btn dark color="indigo" small @click="submitTable">Submit All Tables</v-btn>
                    </v-flex>
                </v-layout>
            </v-layout>
            <v-tooltip top v-if="closures.length > 0">
                <v-btn id="addbutton" slot="activator" dark large icon small color="indigo" @click="addTable">
                    <v-icon>add</v-icon>
                </v-btn>
                <span>
                  Add a new table
                </span>
            </v-tooltip>
        </v-container>
        <v-snackbar v-model="snackbar" :bottom="true">
            {{ text }}
            <v-btn color="pink" flat @click="snackbar = false">
                Close
            </v-btn>
        </v-snackbar>
    </v-content>
</v-app>

</template>

<script>
import Legend from './components/Legend.vue';
import axios from 'axios'
import ClosureTable from './components/ClosureTable.vue'
import 'vuetify/dist/vuetify.min.css'; // Ensure you are using css-loader
import 'material-design-icons-iconfont/dist/material-design-icons.css'; // Ensure you are using css-loader
import {
  store
}
from './store/index.js'
import {
  tbsettings
}
from './seed.js'

export default {
  name: 'App',
  data: () => {
    return {
      storeState: store.state,
      closures: [],
      titles: {},
      snackbar: false,
      text: 'Infomation saved.'
    };
  },
  components: {
    Legend,
    'closure-table': ClosureTable
  },
  methods: {
    addTable: function() {
      const ct = {
        id: this.closures.length,
        data: tbsettings.data,
      }
      this.closures.push(ct);
    },
    autoscroll: function() {
      let id = '#t' + (this.closures.length - 1)
      this.$vuetify.goTo(id, {
        duration: 300,
        offset: 0,
        easing: 'easeInOutCubic'
      });
    },
    deleteTable: function(index) {
      this.closures.splice(index, 1);
    },
    saveTitle: function(index,title){

      this.$set(this.titles, index, title);
    },
    submitTable: function() {
      this.closures.map(closure => closure.data).forEach(console.log);

      let submission = {
        titles: this.titles,
        closures: this.closures
      }
      axios.post('http://localhost:3030/closure/', submission).then((response) => {
        this.snackbar = true;
      })
    }
  }
}
</script>
